<div class="row">
  <div class="col-md-6">
    <h2> mon cd 1 </h2>
    <table class='table table-condensed  table-striped'>
      <thead>
        <tr>
          <th>Titre</th>
          <th>Musique</th>
        </tr>
      </thead>
      <tbody>    
          <tr><td>titre 1</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 2</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 3</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 4</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 5</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 6</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 7</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 8</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
      </tbody>
    </table>
    <br><br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style='text-align:center'>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="RSZDN5Y4C9FCL">
      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>

  </div>
  <div class="col-md-6">
    <h2> mon cd 2 </h2>
    <table class='table table-condensed table-striped'>
      <thead>
        <tr>
          <th>Titre</th>
          <th>Musique</th>
        </tr>
      </thead>
      <tbody>    
          <tr><td>titre 1</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 2</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 3</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 4</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 5</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 6</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 7</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
          <tr><td>titre 8</td><td><audio controls> <source src="/audio/instinct.mp3" type="audio/mpeg"></audio></td></tr>
      </tbody>
    </table>
    <br><br>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style='text-align:center'>
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="RSZDN5Y4C9FCL">
      <input type="image" src="https://www.paypalobjects.com/fr_FR/FR/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - la solution de paiement en ligne la plus simple et la plus sécurisée !">
      <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
    </form>
  
  </div>
</div>
