      <!-- VIDEOS -->
        <section id="videos">
            <div class="conteneur">
                <h2>VIDEOS</h2>
                                
                        <!-- Affiche video en avant -->            
             
                <iframe class="videos-big" width="100%" height="500px" src="http://www.youtube.com/embed/DRcyhVHaDfE?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div>

                  <iframe class="videos-big" width="100%" height="500px" src="https://www.youtube.com/embed/O6gArizZy9s?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div>
              
                  <iframe class="videos-big" width="100%" height="500px" src="http://www.youtube.com/embed/jgWLkGITjxE?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div>
              
                <iframe class="videos-big" width="100%" height="500px" src="http://www.youtube.com/embed/RKGe_EhHsIQ?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div>
              
                <iframe class="videos-big" width="100%" height="500px" src="http://www.youtube.com/embed/sEbLZW7UOmg?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div>   

                              <iframe class="videos-big" width="100%" height="500px" src="http://www.youtube.com/embed/GUsAOJgzt5k?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div>
              
                <iframe class="videos-big" width="100%" height="500px" src="http://www.youtube.com/embed/MmixmjgPSKE?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div>  
              
                   <iframe class="videos-big" width="100%" height="500px" src="http://www.youtube.com/embed/YySzDUtjQVc?rel=0&wmode=transparent" frameborder="0" allowfullscreen></iframe>
                  <div class="videos-titre">Teaser 2013 - <span class="video-date">29 novembre 2013</span></div> 
                    <div class="slider-video-style">
                      <div class="slider-video">
                      </div><!-- #slider-video -->
                    </div><!-- #slider -->
                  <div class="clear"></div> 
              
            </div><!-- #conteneur -->
        </section><!-- #videos -->
        