 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Steel Vibration</h1>
        <p><%= t 'presentation' %>
        </p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Groupe du lundi</h2>
            <a class="thumbnail" href="#">
              <%= image_tag "groupelundi2.jpg" %>
            </a>
          <p>L'association Steel Vibration est formée de plusiers groupes. Cette photo illustre le groupe du lundi. Ce groupe est composée de 12 personnes, avec de temps à autres des accompagnateurs comme on peut s'appercevoir à travers la photo, la présence d'un petit enfant. Dans la joie et la conviviabilité, l'association est toute heureuse de vous acceuillir sur leur site.</p>
          <p><a class="btn btn-default" href="http://www.steelvibration.fr/" role="button">Voir details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Stages Enfants</h2>
             <a class="thumbnail" href="#">
               <%= image_tag "stageEnfants.jpg" %>
             </a>
          <p>Outre l'organisation des concerts, l'association Steel Vibration propose aussi des stages d'ininiation au pan pour enfants. Ces stages ont lieu 2 fois par semaine. Ils se déroulent tous les mercredi et samedi...Il faut remarquer que ces périodes coincident généralement à l'absence des enfants à l'école : mercredi étant férié et samedi le weekend :-D</p>
          <p><a class="btn btn-default" href="http://www.steelvibration.fr/" role="button">Voir details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Construction</h2>
            <a class="thumbnail" href="#">
              <%= image_tag "construction.jpg" %>
            </a>
          <p>A Steel Vibration, on ne fait pas que joueur au pan, on les confectionne aussi. L'association dispose des matériels de dernières générations. Les pesonnes qui se chargent de les fabriquer sont internes de l'assocation. En d'autres termes, afin de faire des économies mais aussi une manire de montrer que cette association prend du plaisir à son activité, ce  sont les membres mêmes de l'assocation qui assurent de créer, personnaliser, réparer leurs outils de travail' </p>
          <p><a class="btn btn-default" href="http://www.steelvibration.fr/" role="button">Voir details &raquo;</a></p>
        </div>
      </div>
