
    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Fabrication et différents types de Pan</h2>
            <p class="blog-post-meta">18 février 2014  <a href="">Wikipédia</a></p>

            <p>Un pan est fait à partir de fûts en métal de 216 litres utilisés par l'industrie pétrolière pour stocker et transporter de l'essence ou de l'huile, ou encore de la compote, des extraits de parfums.... Ils sont sectionnés et la face inférieure de ces bidons est emboutie puis martelée pour y réaliser un ensemble de facettes se comportant chacune comme une cloche. Les différentes facettes sont accordées sur une gamme tempérée.</p>
            <hr>
            <p>Il existe de nombreux types de pans, regroupés en sections qui vont des graves aux aigus en passant par les médiums (traditionnel, pan around the neck un seul bidon par musicien, ou conventionnel, chaque section chromatique donc plusieurs bidons par musiciens). Dans les orchestres conventionnels, les pans aigus, appelés "frontline", comportent une trentaine de notes sur un ou deux bidons, les médiums comportent vingt à trente notes sur deux à quatre bidons, les basses comportent une vingtaine de notes sur quatre à douze bidons. Les pans médiums et basses sont appelés "background".

Les steeldrums sont construits en utilisant de la tôle d'une épaisseur comprise entre 0,8 mm et 1,5 mm. Traditionnellement, des steelpans ont été construits avec des tonneaux à huile, des boites de biscuits ou des poubelles usagées. De nos jours, certains fabricants n'utilisent plus de bidons mais du métal sous forme de tôle plate qu'ils dessinent en cuvette. Dans une première étape, le fond du bidon est enfoncé en cuvette. Ce processus est habituellement fait avec plusieurs marteaux, manuellement ou sous la pression de l'air. Le modèle de note est alors marqué sur la surface, et les notes de différentes tailles sont formées et moulées dans la surface. Après le gâchage, les notes doivent être ramollies et accordées (accord initial). Le ramollissement fait partie de ce premier processus d'accord.



Accord d'un steelpan - Herman "Brown" Guppy.
Plus la taille de la note est grande, plus la tonalité est grave. La "jupe" (la pièce cylindrique du bidon) voit varier sa taille selon la tessiture : plus les notes sont graves, plus on a besoin d'une grande "jupe" pour faire résonner les fréquences graves. Ainsi le tenor pan, parfois appelé "soprano", très aigu avec des petites notes, est constitué d'un seul fût avec une petite jupe (entre 20 et 30cm), alors que le joueur de basse est entouré de quatre, six, neuf, voire douze bidons entiers (avec chacun 3 notes)! Les pans peuvent être chromés ou peints (ou passées au bichromate de potassium).

Plus on joue, plus les pans se désaccordent, les steelbands se chargent de faire accorder régulièrement leurs instruments (en général une fois ou deux par an). Un tuner (accordeur) doit pouvoir parvenir à faire sonner de manière homogène toutes les notes d'un même instrument. Tout le travail d'accordage est effectué en utilisant des marteaux de différentes tailles.
            </p>
            <h2>Jeu et Bibliographie</h2>
            <p>Cette section donne les informations sur comment jouer le pan, mais aussi vous aurez ci-dessous la bibliographie.</p>
            <h3>Jeu</h3>
            <p>Le musicien joue du pan en frappant ces facettes avec des petites mailloches ou "sticks".
              Plusieurs pans sont généralement utilisés simultanément dans un orchestre appelé steelband (composé en outre d'une importante section rythmique : un batteur et d'autres percussionnistes), et l'accord des instruments permet d'obtenir une mélodie et un arrangement de type symphonique. En effet, tout comme le vibraphone ou le xylophone, le pan peut être utilisé pour jouer toutes les parties d'une œuvre musicale ou d'un morceau de musique.
              Un musicien de pan est appelé un paniste, et le lieu de répétition du steelband s'appelle un panyard. Un fabricant s'appelle un pan maker et un accordeur s'appelle un pan tuner.</p>
            <h3>Bibliographie</h3>
            <p class="blog-post-meta">William R. Aho, 1987  <a href="http://www.panonthenet.com/history/aho/">Steel Band Music in Trinidad and Tobago: The Creation of  a People's Music</a> in Latin American Musiic Review 8:</p>
            <p>Shannon K. Dudley.</p>
            <ul>
              <li>2007, Music from behind the Bridge; Steelband Aesthetics and Politics in Trinidad and Tobago, Oxford University Press, 328 pages.</li>
              <li>2002, Dropping the Bomb: Steelband Performance and Meaning in 1960's Trinidad in Ethnomusicology 46 (1): 135- 64.</li>
              <li>1997, Making music for the Nation: Competing identities and Esthetics in Trinidad and Tobago's Panorama Steelband Competition PhD dissertation; University of California Berkley, 353 p.</li>
            </ul>
            <p>Aurélie Helmlinger :</p>
            <ol>
              <li>2012 Pan Jumbie. Mémoire sociale et musicale dans les steelbands. Société d'ethnologie, 224 p.</li>
              <li>2011, "<a href="http://ateliers.revues.org/8798">La virtuosité comme arme de guerre psychologique</a> Ateliers d'anthropologie [En ligne], 35</li>
              <li>2008, Les steelbands de Trinidad et Tobago : Ethnomusicologie cognitive d’une mémoire d’orchestre, In Intellectica 48 (1) : 81-101</li>
            </ol>
           </div><!-- /.blog-post -->
        
          <ul class="pager">
            <li><a href="#">Previous</a></li>
            <li><a href="#">Next</a></li>
          </ul>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Un steel-drum ou steeldrum, c'est-à-dire <em>tambour d'acier</em>en anglais, plus couramment appelé pan ("casserole") ou steelpan — est un instrument de percussion idiophone mélodique. Il est originaire de Trinité-et-Tobago (Caraïbes) et répandu dans des orchestres steelbands, typiquement composés de plusieurs de ces instruments différents. Les pans constituent donc une famille d'instruments</p>
            <a class="thumbnail" href="#">
              <%= image_tag "Steelband_1950s.jpg",  class: "tof2pac" %>
            </a>

          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">March 2014</a></li>
              <li><a href="#">February 2014</a></li>
              <li><a href="#">January 2014</a></li>
              <li><a href="#">December 2013</a></li>
              <li><a href="#">November 2013</a></li>
              <li><a href="#">October 2013</a></li>
              <li><a href="#">September 2013</a></li>
              <li><a href="#">August 2013</a></li>
              <li><a href="#">July 2013</a></li>
              <li><a href="#">June 2013</a></li>
              <li><a href="#">May 2013</a></li>
              <li><a href="#">April 2013</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


